openapi: 3.0.3
info:
  title: VibeCheck - Aesthetic Social Media Companion API
  description: |
    API specification for VibeCheck, an aesthetic social media companion application.
    Users can curate content across multiple categories (cinema, music, games, books, travel),
    share their aesthetic identity (aura), earn badges through gamification, and discover
    like-minded users in aesthetic communities.
  version: 1.0.0
  contact:
    name: VibeCheck Support
  license:
    name: MIT

servers:
  - url: https://api.vibecheck.com/v1
    description: Production server
  - url: https://staging-api.vibecheck.com/v1
    description: Staging server
  - url: http://localhost:3000/api/v1
    description: Development server

tags:
  - name: Content
    description: Browse and manage content across categories
  - name: User Profile
    description: User profile and authentication endpoints
  - name: Aura
    description: User aesthetic identity and aura matching
  - name: Badges & Gamification
    description: Badges, levels, and curator progression
  - name: Social
    description: Community posts, rooms, and discovery
  - name: Search
    description: Search and filtering operations

paths:
  /auth/login:
    post:
      tags:
        - User Profile
      summary: User login
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
            example:
              email: user@example.com
              password: password123
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
              example:
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
                user:
                  userId: "u_123"
                  email: user@example.com
                  username: aesthetic_anna
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /auth/register:
    post:
      tags:
        - User Profile
      summary: User registration
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - username
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                username:
                  type: string
                  minLength: 3
                  maxLength: 20
      responses:
        '201':
          description: Registration successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Email or username already exists
        '500':
          $ref: '#/components/responses/ServerError'

  /users/profile:
    get:
      tags:
        - User Profile
      summary: Get current user profile
      operationId: getUserProfile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User profile retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    put:
      tags:
        - User Profile
      summary: Update user profile
      operationId: updateUserProfile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bio:
                  type: string
                  maxLength: 500
                avatar:
                  type: string
                  format: uri
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/ServerError'

  /users/{userId}:
    get:
      tags:
        - User Profile
      summary: Get user profile by ID
      operationId: getUserById
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User profile retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /content/movies:
    get:
      tags:
        - Content
      summary: Get all movies
      operationId: getMovies
      parameters:
        - name: search
          in: query
          schema:
            type: string
            minLength: 1
            maxLength: 100
          description: Search by title or director
          example: "Inception"
        - name: year
          in: query
          schema:
            type: integer
            minimum: 1900
            maximum: 2100
          description: Filter by release year
          example: 2010
        - name: type
          in: query
          schema:
            type: string
            enum: [movie, tv]
          description: Filter by content type (movie or TV show)
          example: "movie"
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Movies list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Array of Movie objects
                    items:
                      $ref: '#/components/schemas/Movie'
                  total:
                    type: integer
                    description: Total number of movies matching the query
                  limit:
                    type: integer
                    description: Maximum items returned per request
                  offset:
                    type: integer
                    description: Pagination offset value
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /content/movies/{movieId}:
    get:
      tags:
        - Content
      summary: Get movie details
      operationId: getMovieById
      parameters:
        - name: movieId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Movie details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Movie'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /content/albums:
    get:
      tags:
        - Content
      summary: Get all albums
      operationId: getAlbums
      parameters:
        - name: search
          in: query
          schema:
            type: string
            minLength: 1
            maxLength: 100
          description: Search albums by title or artist name
          example: "Dark Side of the Moon"
        - name: artist
          in: query
          schema:
            type: string
            minLength: 1
            maxLength: 100
          description: Filter albums by specific artist name
          example: "Pink Floyd"
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Albums list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Array of Album objects
                    items:
                      $ref: '#/components/schemas/Album'
                  total:
                    type: integer
                    description: Total number of albums matching the query
                  limit:
                    type: integer
                    description: Maximum items returned per request
                  offset:
                    type: integer
                    description: Pagination offset value
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /content/albums/{albumId}:
    get:
      tags:
        - Content
      summary: Get album details
      operationId: getAlbumById
      parameters:
        - name: albumId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Album details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Album'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /content/games:
    get:
      tags:
        - Content
      summary: Get all games
      operationId: getGames
      parameters:
        - name: search
          in: query
          schema:
            type: string
            minLength: 1
            maxLength: 100
          description: Search games by title
          example: "The Legend of Zelda"
        - name: platform
          in: query
          schema:
            type: string
            minLength: 1
            maxLength: 50
          description: Filter by gaming platform (e.g., PlayStation, Xbox, PC, Nintendo Switch)
          example: "Nintendo Switch"
        - name: difficulty
          in: query
          schema:
            type: string
            enum: [Easy, Medium, Hard]
          description: Filter by game difficulty level
          example: "Medium"
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Games list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Array of Game objects
                    items:
                      $ref: '#/components/schemas/Game'
                  total:
                    type: integer
                    description: Total number of games matching the query
                  limit:
                    type: integer
                    description: Maximum items returned per request
                  offset:
                    type: integer
                    description: Pagination offset value
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /content/games/{gameId}:
    get:
      tags:
        - Content
      summary: Get game details
      operationId: getGameById
      parameters:
        - name: gameId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Game details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Game'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /content/books:
    get:
      tags:
        - Content
      summary: Get all books
      operationId: getBooks
      parameters:
        - name: search
          in: query
          schema:
            type: string
            minLength: 1
            maxLength: 100
          description: Search books by title or author name
          example: "1984"
        - name: author
          in: query
          schema:
            type: string
            minLength: 1
            maxLength: 100
          description: Filter books by specific author name
          example: "George Orwell"
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Books list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Array of Book objects
                    items:
                      $ref: '#/components/schemas/Book'
                  total:
                    type: integer
                    description: Total number of books matching the query
                  limit:
                    type: integer
                    description: Maximum items returned per request
                  offset:
                    type: integer
                    description: Pagination offset value
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /content/books/{bookId}:
    get:
      tags:
        - Content
      summary: Get book details
      operationId: getBookById
      parameters:
        - name: bookId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Book details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /content/locations:
    get:
      tags:
        - Content
      summary: Get all travel destinations
      operationId: getLocations
      parameters:
        - name: search
          in: query
          schema:
            type: string
            minLength: 1
            maxLength: 100
          description: Search travel destinations by location name or city
          example: "Paris"
        - name: country
          in: query
          schema:
            type: string
            minLength: 2
            maxLength: 100
          description: Filter destinations by country name
          example: "France"
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Locations list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Array of Location objects
                    items:
                      $ref: '#/components/schemas/Location'
                  total:
                    type: integer
                    description: Total number of locations matching the query
                  limit:
                    type: integer
                    description: Maximum items returned per request
                  offset:
                    type: integer
                    description: Pagination offset value
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /content/locations/{locationId}:
    get:
      tags:
        - Content
      summary: Get location details
      operationId: getLocationById
      parameters:
        - name: locationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Location details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /search:
    get:
      tags:
        - Search
      summary: Global search across all content
      operationId: globalSearch
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 200
          description: Search query string to find content across all categories
          example: "synthwave"
        - $ref: '#/components/parameters/Categories'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    description: Array of mixed content objects matching the search query (Movie, Album, Game, Book, or Location)
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/Movie'
                        - $ref: '#/components/schemas/Album'
                        - $ref: '#/components/schemas/Game'
                        - $ref: '#/components/schemas/Book'
                        - $ref: '#/components/schemas/Location'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /aura/profile:
    get:
      tags:
        - Aura
      summary: Get current user's aura profile
      operationId: getCurrentUserAura
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Aura profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuraProfile'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    put:
      tags:
        - Aura
      summary: Update aura profile
      operationId: updateAuraProfile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                aestheticTags:
                  type: array
                  description: Array of aesthetic style tags (e.g., minimalist, vintage, dark academia)
                  maxItems: 10
                  items:
                    type: string
                    minLength: 2
                    maxLength: 30
                    example: "dark academia"
                auraColors:
                  type: array
                  description: Array of hex color codes representing user's aesthetic palette
                  minItems: 1
                  maxItems: 5
                  items:
                    type: string
                    pattern: '^#[0-9A-Fa-f]{6}$'
                    example: "#2E3440"
      responses:
        '200':
          description: Aura profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuraProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /aura/profile/{userId}:
    get:
      tags:
        - Aura
      summary: Get user's aura profile
      operationId: getUserAura
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Aura profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuraProfile'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /aura/shares:
    get:
      tags:
        - Aura
      summary: Get current user's shares
      operationId: getUserShares
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: User shares list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Array of UserShare objects
                    items:
                      $ref: '#/components/schemas/UserShare'
                  total:
                    type: integer
                    description: Total number of shares
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      tags:
        - Aura
      summary: Create a new share
      operationId: createShare
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - category
                - contentId
              properties:
                category:
                  type: string
                  enum: [cinema, music, games, books, travel]
                  description: Content category for the share
                  example: "cinema"
                contentId:
                  type: string
                  description: ID of the content item being shared (movie, album, game, book, or location)
                  example: "movie_inception_2010"
                caption:
                  type: string
                  maxLength: 500
                  description: Optional caption or personal note about the shared content
                  example: "This movie changed how I think about dreams!"
      responses:
        '201':
          description: Share created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserShare'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/ServerError'

  /aura/matches:
    get:
      tags:
        - Aura
      summary: Get aura matches (similar users)
      operationId: getAuraMatches
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Maximum number of aura matches to return
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
        - name: offset
          in: query
          description: Number of results to skip for pagination
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: List of aura matches
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Array of AuraMatch objects representing compatible users
                    items:
                      $ref: '#/components/schemas/AuraMatch'
                  total:
                    type: integer
                    description: Total number of aura matches found
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/ServerError'

  /aura/compatibility/{userId}:
    get:
      tags:
        - Aura
      summary: Calculate compatibility with another user
      operationId: calculateCompatibility
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Compatibility score
          content:
            application/json:
              schema:
                type: object
                properties:
                  compatibilityScore:
                    type: integer
                    minimum: 0
                    maximum: 100
                  sharedAesthetics:
                    type: array
                    description: Aesthetic tags and categories shared between the two users
                    items:
                      type: string
                      example: dark academia
                  matchReason:
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /badges:
    get:
      tags:
        - Badges & Gamification
      summary: Get all available badges
      operationId: getAllBadges
      parameters:
        - name: rarity
          in: query
          description: Filter badges by rarity level
          schema:
            type: string
            enum: [common, rare, epic, legendary]
          example: "rare"
        - name: category
          in: query
          description: Filter badges by achievement category
          schema:
            type: string
            enum: [early, completionist, social, streak, special]
          example: "social"
      responses:
        '200':
          description: List of badges
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Badge'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /badges/user:
    get:
      tags:
        - Badges & Gamification
      summary: Get current user's badges
      operationId: getUserBadges
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User's badges
          content:
            application/json:
              schema:
                type: object
                properties:
                  badges:
                    type: array
                    description: Array of Badge objects earned by the user
                    items:
                      $ref: '#/components/schemas/Badge'
                  unlockedCount:
                    type: integer
                    description: Number of badges unlocked by the user
                  totalCount:
                    type: integer
                    description: Total number of badges available in the system
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/ServerError'

  /badges/user/{userId}:
    get:
      tags:
        - Badges & Gamification
      summary: Get user's badges
      operationId: getUserBadgesById
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User's badges
          content:
            application/json:
              schema:
                type: object
                properties:
                  badges:
                    type: array
                    description: Array of Badge objects earned by the user
                    items:
                      $ref: '#/components/schemas/Badge'
                  unlockedCount:
                    type: integer
                    description: Number of badges unlocked by this user
                  totalCount:
                    type: integer
                    description: Total number of badges available in the system
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /curator/stats:
    get:
      tags:
        - Badges & Gamification
      summary: Get current user's curator stats
      operationId: getCuratorStats
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Curator statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserStats'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/ServerError'

  /curator/stats/{userId}:
    get:
      tags:
        - Badges & Gamification
      summary: Get user's curator stats
      operationId: getCuratorStatsByUserId
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Curator statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserStats'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /curator/levels:
    get:
      tags:
        - Badges & Gamification
      summary: Get all curator levels
      operationId: getCuratorLevels
      responses:
        '200':
          description: List of curator levels
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CuratorLevel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /social/posts:
    get:
      tags:
        - Social
      summary: Get community posts
      operationId: getCommunityPosts
      parameters:
        - name: category
          in: query
          description: Filter posts by content category
          schema:
            type: string
            enum: [cinema, music, games, books, travel]
          example: "cinema"
        - name: sortBy
          in: query
          description: Sort order for community posts
          schema:
            type: string
            enum: [recent, trending, liked]
            default: recent
          example: "trending"
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Community posts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Array of MoodboardPost objects
                    items:
                      $ref: '#/components/schemas/MoodboardPost'
                  total:
                    type: integer
                    description: Total number of community posts
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      tags:
        - Social
      summary: Create a community post
      operationId: createCommunityPost
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - category
                - title
                - image
              properties:
                category:
                  type: string
                  enum: [cinema, music, games, books, travel]
                  description: Content category for the post
                  example: "cinema"
                title:
                  type: string
                  minLength: 1
                  maxLength: 200
                  description: Title or caption for the moodboard post
                  example: "My favorite noir films"
                image:
                  type: string
                  format: uri
                  description: URL to the post's image or collage
                  example: "https://cdn.vibecheck.com/images/post123.jpg"
                dominantColor:
                  type: string
                  pattern: '^#[0-9A-Fa-f]{6}$'
                  description: Hex color code representing the dominant color in the image
                  example: "#1A1A1A"
      responses:
        '201':
          description: Post created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoodboardPost'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/ServerError'

  /social/posts/{postId}:
    get:
      tags:
        - Social
      summary: Get post details
      operationId: getPostById
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Post details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoodboardPost'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Social
      summary: Delete a post
      operationId: deletePost
      security:
        - bearerAuth: []
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Post deleted
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Forbidden - not post owner
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /social/posts/{postId}/like:
    post:
      tags:
        - Social
      summary: Like a post
      operationId: likePost
      security:
        - bearerAuth: []
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Post liked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoodboardPost'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Social
      summary: Unlike a post
      operationId: unlikePost
      security:
        - bearerAuth: []
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Post unliked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoodboardPost'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /social/posts/{postId}/comments:
    get:
      tags:
        - Social
      summary: Get post comments
      operationId: getPostComments
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Post comments
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Array of Comment objects
                    items:
                      $ref: '#/components/schemas/Comment'
                  total:
                    type: integer
                    description: Total number of comments on this post
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      tags:
        - Social
      summary: Add a comment to a post
      operationId: addComment
      security:
        - bearerAuth: []
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                  minLength: 1
                  maxLength: 500
                  description: Comment text content
                  example: "Love this aesthetic!"
      responses:
        '201':
          description: Comment added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /social/rooms:
    get:
      tags:
        - Social
      summary: Get aesthetic rooms
      operationId: getAestheticRooms
      parameters:
        - name: trending
          in: query
          schema:
            type: boolean
            default: false
          description: Filter to show only currently trending aesthetic rooms
          example: true
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Aesthetic rooms list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Array of AestheticRoom objects
                    items:
                      $ref: '#/components/schemas/AestheticRoom'
                  total:
                    type: integer
                    description: Total number of aesthetic rooms
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /social/rooms/{roomId}:
    get:
      tags:
        - Social
      summary: Get room details
      operationId: getRoomById
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Room details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AestheticRoom'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /social/rooms/{roomId}/posts:
    get:
      tags:
        - Social
      summary: Get posts in a room
      operationId: getRoomPosts
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Room posts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Array of MoodboardPost objects in this room
                    items:
                      $ref: '#/components/schemas/MoodboardPost'
                  total:
                    type: integer
                    description: Total number of posts in this room
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /social/rooms/{roomId}/join:
    post:
      tags:
        - Social
      summary: Join an aesthetic room
      operationId: joinRoom
      security:
        - bearerAuth: []
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Joined room
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AestheticRoom'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /social/rooms/{roomId}/leave:
    post:
      tags:
        - Social
      summary: Leave an aesthetic room
      operationId: leaveRoom
      security:
        - bearerAuth: []
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Left room
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /discovery/feed:
    get:
      tags:
        - Social
      summary: Get discovery feed
      operationId: getDiscoveryFeed
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Discovery feed
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Array of mixed content (MoodboardPost or UserShare objects) personalized for the user
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/MoodboardPost'
                        - $ref: '#/components/schemas/UserShare'
                  total:
                    type: integer
                    description: Total number of items in the discovery feed
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/ServerError'

components:
  schemas:
    User:
      type: object
      required:
        - userId
        - email
        - username
      properties:
        userId:
          type: string
          description: Unique identifier for the user
          example: "u_abc123xyz"
        email:
          type: string
          format: email
          description: User's email address
          example: "user@example.com"
        username:
          type: string
          minLength: 3
          maxLength: 20
          pattern: '^[a-zA-Z0-9_-]+$'
          description: User's unique username (alphanumeric, underscore, and hyphen only)
          example: "aesthetic_anna"
        avatar:
          type: string
          format: uri
          description: URL to user's profile avatar image
          example: "https://cdn.vibecheck.com/avatars/user123.jpg"
        bio:
          type: string
          maxLength: 500
          description: User's profile biography
          example: "Cinema enthusiast | Dark academia vibes"
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the user account was created
          example: "2024-01-15T10:30:00Z"
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the user profile was last updated
          example: "2024-02-10T14:22:00Z"

    Movie:
      type: object
      required:
        - id
        - title
        - year
        - director
        - type
      properties:
        id:
          type: string
          description: Unique identifier for the movie or TV show
          example: "movie_inception_2010"
        title:
          type: string
          description: Title of the movie or TV show
          example: "Inception"
        year:
          type: integer
          minimum: 1900
          maximum: 2100
          description: Release year
          example: 2010
        director:
          type: string
          description: Director's name
          example: "Christopher Nolan"
        poster:
          type: string
          format: uri
          description: URL to the movie/show poster image
          example: "https://cdn.vibecheck.com/posters/inception.jpg"
        season:
          type: integer
          minimum: 1
          description: Season number (only for TV shows)
          example: 1
        episode:
          type: integer
          minimum: 1
          description: Episode number (only for TV shows)
          example: 5
        type:
          type: string
          enum: [movie, tv]
          description: Content type - either a standalone movie or TV show
          example: "movie"
        url:
          type: string
          format: uri
          description: External URL with more information (e.g., IMDb link)
          example: "https://www.imdb.com/title/tt1375666/"

    Album:
      type: object
      required:
        - id
        - title
        - artist
      properties:
        id:
          type: string
          description: Unique identifier for the album
          example: "album_dsotm_1973"
        title:
          type: string
          description: Album title
          example: "The Dark Side of the Moon"
        artist:
          type: string
          description: Artist or band name
          example: "Pink Floyd"
        cover:
          type: string
          format: uri
          description: URL to the album cover artwork
          example: "https://cdn.vibecheck.com/covers/dsotm.jpg"
        duration:
          type: integer
          minimum: 0
          description: Total album duration in seconds
          example: 2592
        url:
          type: string
          format: uri
          description: External URL with more information (e.g., Spotify link)
          example: "https://open.spotify.com/album/4LH4d3cOWNNsVw41Gqt2kv"

    Game:
      type: object
      required:
        - id
        - title
        - platform
      properties:
        id:
          type: string
          description: Unique identifier for the game
          example: "game_zelda_botw"
        title:
          type: string
          description: Game title
          example: "The Legend of Zelda: Breath of the Wild"
        platform:
          type: string
          description: Gaming platform (e.g., PlayStation, Xbox, PC, Nintendo Switch)
          example: "Nintendo Switch"
        cover:
          type: string
          format: uri
          description: URL to the game cover art
          example: "https://cdn.vibecheck.com/games/zelda_botw.jpg"
        difficulty:
          type: string
          enum: [Easy, Medium, Hard]
          description: Game difficulty level
          example: "Medium"
        url:
          type: string
          format: uri
          description: External URL with more information
          example: "https://www.nintendo.com/games/detail/zelda-botw/"

    Book:
      type: object
      required:
        - id
        - title
        - author
      properties:
        id:
          type: string
          description: Unique identifier for the book
          example: "book_1984_orwell"
        title:
          type: string
          description: Book title
          example: "1984"
        author:
          type: string
          description: Author's name
          example: "George Orwell"
        cover:
          type: string
          format: uri
          description: URL to the book cover image
          example: "https://cdn.vibecheck.com/books/1984.jpg"
        totalPages:
          type: integer
          minimum: 1
          description: Total number of pages in the book
          example: 328
        url:
          type: string
          format: uri
          description: External URL with more information (e.g., Goodreads link)
          example: "https://www.goodreads.com/book/show/5470.1984"

    Location:
      type: object
      required:
        - id
        - name
        - city
        - country
      properties:
        id:
          type: string
          description: Unique identifier for the travel destination
          example: "location_eiffel_tower"
        name:
          type: string
          description: Name of the location or landmark
          example: "Eiffel Tower"
        city:
          type: string
          description: City where the location is situated
          example: "Paris"
        country:
          type: string
          description: Country where the location is situated
          example: "France"
        image:
          type: string
          format: uri
          description: URL to an image of the location
          example: "https://cdn.vibecheck.com/locations/eiffel.jpg"
        weather:
          type: string
          description: Current weather condition description
          example: "Partly cloudy"
        temperature:
          type: number
          format: float
          description: Current temperature in Celsius
          example: 18.5
        timezone:
          type: string
          description: IANA timezone identifier for the location
          example: "Europe/Paris"
        url:
          type: string
          format: uri
          description: External URL with more information about the location
          example: "https://www.toureiffel.paris/en"

    UserShare:
      type: object
      required:
        - id
        - category
        - title
      properties:
        id:
          type: string
          description: Unique identifier for the share
          example: "share_xyz789"
        userId:
          type: string
          description: ID of the user who created this share
          example: "u_abc123xyz"
        category:
          type: string
          enum: [cinema, music, games, books, travel]
          description: Content category of the shared item
          example: "cinema"
        title:
          type: string
          description: Title of the shared content
          example: "Inception"
        image:
          type: string
          format: uri
          description: URL to the shared content's image
          example: "https://cdn.vibecheck.com/shares/inception.jpg"
        dominantColor:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
          description: Hex color code of the image's dominant color (used for UI theming)
          example: "#1A3B5C"
        caption:
          type: string
          maxLength: 500
          description: User's personal caption or note about the shared content
          example: "Mind-bending masterpiece!"
        timestamp:
          type: string
          format: date-time
          description: Timestamp when the share was created
          example: "2024-02-15T18:30:00Z"

    AuraProfile:
      type: object
      required:
        - userId
        - username
      properties:
        userId:
          type: string
        username:
          type: string
        avatar:
          type: string
          format: uri
        bio:
          type: string
        recentShares:
          type: array
          description: User's recent content shares across all categories
          items:
            $ref: '#/components/schemas/UserShare'
        auraColors:
          type: array
          description: "Array of hex color codes (format: #RRGGBB) representing user's aesthetic aura"
          items:
            type: string
            pattern: '^#[0-9A-Fa-f]{6}$'
            example: '#FF6B9D'
        aestheticTags:
          type: array
          description: Array of aesthetic style tags (e.g., minimalist, vintage, dark academia)
          items:
            type: string
            example: minimalist
        topCategories:
          type: array
          description: User's content distribution across categories with percentage breakdown
          items:
            type: object
            properties:
              category:
                type: string
                description: Content category (cinema, music, games, books, travel)
              percentage:
                type: number
                minimum: 0
                maximum: 100
                description: Percentage of user's content in this category

    AuraMatch:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/AuraProfile'
        similarityScore:
          type: integer
          minimum: 0
          maximum: 100
        sharedAesthetics:
          type: array
          description: Array of aesthetic tags shared between matched users
          items:
            type: string
            example: vintage
        matchReason:
          type: string

    Badge:
      type: object
      required:
        - id
        - name
        - rarity
      properties:
        id:
          type: string
          description: Unique identifier for the badge
          example: "badge_early_bird"
        name:
          type: string
          description: Display name of the badge
          example: "Early Bird"
        description:
          type: string
          description: Description of how to earn this badge
          example: "Shared content in the first week after joining"
        icon:
          type: string
          format: uri
          description: URL to the badge icon image
          example: "https://cdn.vibecheck.com/badges/early_bird.svg"
        rarity:
          type: string
          enum: [common, rare, epic, legendary]
          description: Badge rarity level indicating how difficult it is to obtain
          example: "rare"
        category:
          type: string
          enum: [early, completionist, social, streak, special]
          description: Badge category grouping similar achievement types
          example: "early"
        unlocked:
          type: boolean
          description: Whether the current user has unlocked this badge
          example: true
        unlockedDate:
          type: string
          format: date-time
          description: Timestamp when the user unlocked this badge (null if not unlocked)
          example: "2024-01-20T12:00:00Z"
        progress:
          type: integer
          minimum: 0
          description: Current progress towards unlocking this badge
          example: 3
        maxProgress:
          type: integer
          minimum: 1
          description: Total progress required to unlock this badge
          example: 5

    CuratorLevel:
      type: object
      required:
        - level
        - name
        - xpRequired
      properties:
        level:
          type: integer
          minimum: 1
          description: The curator level number
          example: 5
        name:
          type: string
          description: Display name for this curator level
          example: "Aesthetic Connoisseur"
        xpRequired:
          type: integer
          minimum: 0
          description: Total XP required to reach this level
          example: 5000
        rewards:
          type: array
          description: Array of rewards granted when reaching this curator level
          items:
            type: string
            example: "Unlock dark theme"
        color:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
          description: Hex color code representing this level's badge color
          example: "#8B5CF6"

    UserStats:
      type: object
      required:
        - totalShares
        - totalXP
        - currentLevel
      properties:
        totalShares:
          type: integer
          minimum: 0
          description: Total number of content items shared by the user
          example: 156
        totalXP:
          type: integer
          minimum: 0
          description: Total experience points (XP) earned by the user
          example: 4820
        currentLevel:
          type: integer
          minimum: 1
          description: User's current curator level
          example: 5
        streakDays:
          type: integer
          minimum: 0
          description: Number of consecutive days with activity
          example: 14
        badges:
          type: array
          description: Array of earned and available badges for the user
          items:
            $ref: '#/components/schemas/Badge'
        completedFilmographies:
          type: array
          description: Array of director/artist names whose full filmographies have been viewed
          items:
            type: string
            example: "Greta Gerwig"
        finishedBooks:
          type: integer
          minimum: 0
          description: Total number of books marked as finished
          example: 23
        earlyDiscoveries:
          type: integer
          minimum: 0
          description: Number of content items discovered before they became popular
          example: 8

    MoodboardPost:
      type: object
      required:
        - id
        - userId
        - username
        - category
        - title
        - image
      properties:
        id:
          type: string
          description: Unique identifier for the moodboard post
          example: "post_abc123"
        userId:
          type: string
          description: ID of the user who created the post
          example: "u_abc123xyz"
        username:
          type: string
          description: Username of the post author
          example: "aesthetic_anna"
        userAvatar:
          type: string
          format: uri
          description: URL to the post author's avatar image
          example: "https://cdn.vibecheck.com/avatars/user123.jpg"
        category:
          type: string
          enum: [cinema, music, games, books, travel]
          description: Content category of the post
          example: "cinema"
        title:
          type: string
          description: Title or caption of the moodboard post
          example: "Film Noir Collection"
        image:
          type: string
          format: uri
          description: URL to the post's image or moodboard collage
          example: "https://cdn.vibecheck.com/posts/noir_collection.jpg"
        dominantColor:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
          description: Hex color code of the dominant color in the image
          example: "#1A1A1A"
        timestamp:
          type: string
          format: date-time
          description: Timestamp when the post was created
          example: "2024-02-15T18:30:00Z"
        likes:
          type: integer
          minimum: 0
          description: Number of likes received on this post
          example: 128
        comments:
          type: integer
          minimum: 0
          description: Number of comments on this post
          example: 24

    AestheticRoom:
      type: object
      required:
        - id
        - name
        - hashtag
      properties:
        id:
          type: string
          description: Unique identifier for the aesthetic room
          example: "room_darkacademia"
        name:
          type: string
          description: Display name of the aesthetic room
          example: "Dark Academia"
        hashtag:
          type: string
          pattern: '^#[a-zA-Z0-9_]+$'
          description: Hashtag associated with this room
          example: "#darkacademia"
        description:
          type: string
          description: Description of the aesthetic room's theme
          example: "Classical literature, vintage fashion, and intellectual pursuits"
        coverGradient:
          type: string
          description: CSS gradient string for the room's cover design
          example: "linear-gradient(135deg, #2E3440 0%, #4C566A 100%)"
        memberCount:
          type: integer
          minimum: 0
          description: Number of users who have joined this room
          example: 1542
        postCount:
          type: integer
          minimum: 0
          description: Total number of posts in this room
          example: 3891
        trending:
          type: boolean
          description: Whether this room is currently trending
          example: true
        posts:
          type: array
          description: Array of moodboard posts in this aesthetic room
          items:
            $ref: '#/components/schemas/MoodboardPost'
        moderators:
          type: array
          description: Array of user IDs who moderate this room
          items:
            type: string
            description: User ID of a moderator
            example: "u_moderator_123"

    Comment:
      type: object
      required:
        - id
        - userId
        - username
        - text
      properties:
        id:
          type: string
          description: Unique identifier for the comment
          example: "comment_xyz123"
        userId:
          type: string
          description: ID of the user who posted the comment
          example: "u_abc123xyz"
        username:
          type: string
          description: Username of the comment author
          example: "aesthetic_anna"
        userAvatar:
          type: string
          format: uri
          description: URL to the comment author's avatar image
          example: "https://cdn.vibecheck.com/avatars/user123.jpg"
        text:
          type: string
          minLength: 1
          maxLength: 500
          description: Comment text content
          example: "Love this aesthetic!"
        timestamp:
          type: string
          format: date-time
          description: Timestamp when the comment was posted
          example: "2024-02-16T09:45:00Z"
        likes:
          type: integer
          minimum: 0
          description: Number of likes received on this comment
          example: 42

  parameters:
    Limit:
      name: limit
      in: query
      description: Maximum number of items to return per request (pagination)
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      example: 20
    Offset:
      name: offset
      in: query
      description: Number of items to skip before starting to return results (pagination)
      schema:
        type: integer
        minimum: 0
        default: 0
      example: 0
    Categories:
      name: categories
      in: query
      description: "Filter by categories (CSV list: cinema,music,games,books,travel)"
      style: form
      explode: false
      schema:
        type: array
        description: Array of category filters to apply
        items:
          type: string
          enum: [cinema, music, games, books, travel]
          description: Content category name

  responses:
    BadRequest:
      description: Bad request - invalid parameters or malformed request
      content:
        application/json:
          schema:
            type: object
            required:
              - error
              - message
            properties:
              error:
                type: string
                description: Error type identifier
                example: "INVALID_PARAMETER"
              message:
                type: string
                description: Human-readable error message
                example: "The 'year' parameter must be between 1900 and 2100"

    UnauthorizedError:
      description: Authentication required - missing or invalid access token
      content:
        application/json:
          schema:
            type: object
            required:
              - error
              - message
            properties:
              error:
                type: string
                description: Error type identifier
                example: "UNAUTHORIZED"
              message:
                type: string
                description: Human-readable error message
                example: "Authentication token is missing or invalid"

    NotFound:
      description: Resource not found - the requested resource does not exist
      content:
        application/json:
          schema:
            type: object
            required:
              - error
              - message
            properties:
              error:
                type: string
                description: Error type identifier
                example: "NOT_FOUND"
              message:
                type: string
                description: Human-readable error message
                example: "The requested resource could not be found"

    ServerError:
      description: Internal server error - an unexpected error occurred
      content:
        application/json:
          schema:
            type: object
            required:
              - error
              - message
            properties:
              error:
                type: string
                description: Error type identifier
                example: "INTERNAL_ERROR"
              message:
                type: string
                description: Human-readable error message
                example: "An unexpected error occurred. Please try again later."

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT